<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Report</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <%- include("header") %>

        <div class="container">
            <h2 class="main-heading">Short Links Directory</h2>

            <div class="table-wrapper">
                <% if (!links || links.length === 0) { %>
                    <p>No links found.</p>
                <% } else { %>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Short URL</th>
                                <th>Original URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% links.forEach((link, i) => { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td>
                                        <a class="sortLink" href="/<%= link.shortCode %>" target="_blank" rel="noopener noreferrer">
                                            <%= host %>/<%= link.shortCode %>
                                        </a>
                                    </td>
                                    <td><%= link.url %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
    </body>
</html>
